.collapse {
    width: 45%;
    background-color: white;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;

    .collapse-title {
        background-color: #FF6060;
        width: 100%;
        display: flex;
        border-radius: 5px;
        padding: 10px 10px;
        align-items: center;

        p {
            border: none;
            color: white;
            width: 100%;
            font-weight: 700;
            font-size: 18px;
        }

        img {
            max-width: 24px;
            max-height: 13px;
            padding-right: 15px;
            

        }
        .fa-chevron-up{
            color: white;
            font-size: 24px;
            transition: 0.4s ease-in-out;
        }
        .collapse-img {
            transform: rotate(-180deg);
        }
    }

    .collapse-content {
        background-color: #F6F6F673;
        width: 100%;
        padding: 20px 10px;
        line-height: 25.67px;


    }


}
