.organ-nav {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: 25px auto;

    div {
        position: relative;
       
       

        ul {
            display: flex;
            justify-content: space-around;
            list-style-type: none;

            li {
                padding-left: 50px;
                font-size: 24px;
                font-weight: 500;

                a {
                    text-decoration: none;
                    color: black;
                    
                }
            }

            li:active {
                text-decoration: underline;
                cursor: pointer;
            }


        }
    }
}

@media (max-width: 1024px) {
    .organ-nav {
        text-align: center;
        max-width: 89%;
        a {
            img {
                width: 145px;
                height: 46px;
            }
        }
    
        div {
            position: relative;
    
            ul {
                display: flex;
                justify-content: space-around;
                list-style-type: none;
                padding-left: 10px;
    
                li {
                    padding-left: 10px;
                    font-size: 12px;
                    a {
                        text-decoration: none;
                        color: black;   
                        text-transform: uppercase;    
                    }
                }
    
    
            }
        }
    }
    

}
